<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with context %}
    <title>Home page</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with context %}
    <h1>this is the home page</h1>
    <div class="timeBlock">
        <h3>Server Time:</h3>
        <h4 id="serverTime">{{serverTime}}</h4>
    </div>
    <div class="timeBlock">
        <h3>Browser Time:</h3>
        <h4 id="browserTime"></h4>
    </div>
    {% include "./partials/dependencies.html" ignore missing with context %}
    <script src="static/js/browserTime.js"></script>
</body>
</html>